.cards
    background-color: $color-gray-light
    grid-column: contentCenter-start/contentCenter-end
    display: grid
    grid-gap: 4rem 6rem
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr))
    padding: 15rem 0
    @include respond(phone)
        padding: 5rem 0
.card
    background-color: $color-blue-dark
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 4rem 1rem
    &__img
        width: 100%
        grid-column: 1/-1
        grid-row: 1/2
    &__svg
        width: 2rem
        height: 2rem
        margin-right: 1rem
    &__title
        grid-column: 1/-1
        grid-row: 1/2
        text-align: center
        padding: 1.5rem 0
        width: 80%
        font-size: 1.6rem
        font-weight: 700
        color: $color-gray-light
        background-color: $color-green-dark
        justify-self: center
        align-self: end
        transform: translateY(-50%)
    &__btn
        grid-column: 1/-1
    &__location
        grid-column: 1/2
.content
    margin-left: 2rem
    display: flex
    p
        font-size: 1.6rem
        font-weight: 300
        color: $color-gray-light